<div class="grid" id="headerBar" [class]="darkMode ? 'dark-mode' : 'light-mode'">
    <div class="col-10">
        <div class="box-header-nav">
            <div class="nav-header">
                <a href="link1">HOME</a>
                <a href="link2">CONFIGURAÇÕES</a>
                <a href="http://localhost:4200/fs/cadastrar">CADASTRO</a>
                <a href="link4">CONTATO</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="box-header-nav">
            <div class="nav-header-login">
                <app-login-dropdown class="login-dropdown"></app-login-dropdown>
            </div>
        </div>
    </div>
</div>