<div class="grid" id="headerBar" [class]="darkMode ? 'dark-mode' : 'light-mode'">
    <div class="col-10">
        <div class="box-header-nav">
            <div class="nav-header">
                <a (click)="navigateByUri('/fs/main')">HOME</a>
                <a (click)="navigateByUri('/fs/account')">MINHA CONTA</a>
                <a (click)="navigateByUri('/fs/ai-analysis-list')">IA</a>
                <a (click)="navigateByUri('/fs/plans')">PLANOS</a>
                <a (click)="navigateByUri('/fs/cadastrar')">CADASTRO</a>
                <a (click)="navigateByUri('/fs/suggestion')">SUGESTÕES</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="box-header-nav">
            <div class="nav-header-login">
                <app-login-dropdown class="login-dropdown"></app-login-dropdown>
            </div>
        </div>
    </div>
</div>