html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.box-header-nav {
    padding: 0.5rem;
    width: 100%;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    border-bottom: none;
}

.nav-header a {
    margin-right: 15px;
}

.nav-header-login {
    margin-top: -18px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    border-bottom: none;
}

.box {
    width: 100%;
    max-height: 55vh;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.input-box {
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.input-box-card {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.btn-register {
    background-color: #0099ff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid {
    display: flex;
}

.col-10 {
    width: 83.33%;
    flex: 0 0 83.33%;
    margin-right: 20px;
    max-height: 50px;
    height: 50px;
}

.col-2 {
    width: 16.67%;
    flex: 0 0 15.00%;
    height: 50px;
    max-height: 50px;
    margin-bottom: 40px;
}

.col-8 {
    width: 66.67%;
    flex: 0 0 66.67%;
    margin-right: 20px;
    max-height: 50px;
    height: 50px;
}

.col-4 {
    width: 31.70%;
    flex: 0 0 31.70%;
    margin-right: 20px;
    max-height: 50px;
    height: 50px;
    margin-bottom: 40px;
}

.left-table {
    flex: 0 0 66.67%;
    margin-right: 20px;
}

.right-table {
    flex: 0 0 31.70%;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
}

table th {
    text-align: left;
    padding: 10px;
    background-color: #0099ff;
    color: #fff;
    border: none;
}

table th:first-child {
    border-radius: 10px 0 0 0;
}

table th:last-child {
    border-radius: 0 10px 0 0;
}

table td {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 10px 10px;
}

table td:first-child {
    font-weight: bold;
}

.bottom-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.status-box {
    width: 48%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.status-box h3 {
    margin: 0;
    margin-bottom: 10px;
}

.status-box p {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.custom-dropdown select {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
}

.custom-dropdown select:hover {
    border-color: #999;
}

.custom-dropdown select:focus {
    border-color: #0099ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

.new-register {
    display: flex;
    justify-content: space-between;
}

.new-register>* {
    margin-right: 10px;
}

.new-register>*:last-child {
    margin-right: 0;
}

.login-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }