.datatable-container {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .header-cell {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 10px;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.box {
    width: 95%;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.box header .input-box {
    height: 30px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.box header .btn-register {
    background-color: #0099ff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box .main {
    padding: 20px;
}

.box .main table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.box .main table th {
    text-align: left;
    padding: 10px;
    background-color: #0099ff;
    color: #fff;
    border: none;
}

.box .main table td {
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.box .main table td:first-child {
    font-weight: bold;
}

.box .main .bottom-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.box .main .status-box {
    width: 48%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box .main .status-box h3 {
    margin: 0;
    margin-bottom: 10px;
}

.box .main .status-box p {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.custom-dropdown select {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
}

.custom-dropdown select:hover {
    border-color: #999;
}

.custom-dropdown select:focus {
    border-color: #0099ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

.new-register {
    display: flex;
    justify-content: space-between;
}

.new-register > * {
    margin-right: 10px;
}

.new-register > *:last-child {
    margin-right: 0;
}