<div class="p-grid">
  <div class="p-col-10">
    <div class="box">
      <header>
        <div class="new-register">
          <label>Selecione o mês: </label>
          <select class="custom-dropdown" [(ngModel)]="selectedMonth" (ngModelChange)="selectMonth()">
            <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
          </select>
          <label>Selecione o tipo: </label>
          <select class="custom-dropdown" [(ngModel)]="selectedType" (ngModelChange)="selectRegisterType()">
            <option *ngFor="let tpConta of tiposConta" [value]="tpConta.value">{{ tpConta.label }}</option>
          </select>
          <input class="input-box" type="text" placeholder="Nome da conta" [(ngModel)]="nomeConta">
          <input class="input-box" type="number" min="1" step="any" placeholder="Valor da conta (XXXX,XX)" [(ngModel)]="valorConta" >
          <input class="input-box" type="text" placeholder="Descrição" [(ngModel)]="descricaoConta">
          <button class="btn-register" (click)="addRegister()">Cadastrar conta</button>
        </div>
      </header>
    </div>
  </div>
  <div class="p-col-2">
    <div class="box">
      <div class="login-wrapper">
        <app-login-dropdown class="login-dropdown"></app-login-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="main">
    <div class="main">
      <table id="registerTable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Comentário</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rows">
            <td>{{ item.Nome }}</td>
            <td>{{ item.Valor }}</td>
            <td>{{ item.Tipo }}</td>
            <td>{{ item.Comentario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 
      <div class="datatable-container">
    <ngx-datatable class="datatable" [rows]="rows" [columns]="columns">
    </ngx-datatable>
  </div>
    -->
  </div>
</div>
<div class="box">
  <div class="main">
    <div class="bottom-boxes">
      <div class="status-box">
        <h3>Status líquido</h3>
        <p>R$ 15.000,00</p>
      </div>
      <div class="status-box">
        <h3>Status + ativos</h3>
        <p>R$ 35.000,00</p>
      </div>
    </div>
  </div>
</div>