<app-header-bar></app-header-bar>
<div class="grid">
  <div class="col-8" [class]="darkMode ? 'dark-mode' : ''">
    <div class="box">
      <div class="new-register">
        <label>Email:</label>
        <input class="input-box" type="email" placeholder="Email" [(ngModel)]="email">

        <label>Usuário:</label>
        <input class="input-box" type="text" placeholder="Usuário" [(ngModel)]="userName">

        <label>Nome:</label>
        <input class="input-box" type="text" placeholder="Nome" [(ngModel)]="name">

        <label>Sobrenome:</label>
        <input class="input-box" type="text" placeholder="Sobrenome" [(ngModel)]="lastname">

        <label>Senha:</label>
        <input class="input-box" type="password" placeholder="Senha" [(ngModel)]="password">

        <div class="checkbox">
          <input type="checkbox" id="terms" [(ngModel)]="termsAcceptance">
          <label for="terms">Aceitar termos e condições</label>
          <button class="btn-register" (click)="register()">Cadastrar</button>
        </div>

        <br>
        <label class="register-link">Já tem uma conta? <a href="javascript:void(0)" (click)="redirectToLogin()">Login</a></label>
      </div>
    </div>
  </div>
</div>