/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';

html {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    //background-image: url('https://i.postimg.cc/T17m72gx/DALL-E-2023-08-08-16-08-10-A-background-for-a-website-with-tech-financial-theme.png');
    //background-image: url('https://i.postimg.cc/26T8PhfZ/DALL-E-2023-08-08-19-30-36-A-background-gradient-for-a-website-with-tech-financial-theme-and-a-lig.png');
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    border-radius: 25px;
    margin: 0;
    padding-left: 10px;
}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border:4px solid #0000;
    border-radius: 50%;
    border-color:#E4E4ED #0000;
    animation: s6 1s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {    
    content:"";
    grid-area: 1/1;
    margin:2px;
    border:inherit;
    border-radius: 50%;
  }
  .custom-loader::before {
    border-color:#766DF4 #0000;
    animation:inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .custom-loader::after {
    margin:8px;
  }
  
  @keyframes s6 { 
    100%{transform: rotate(1turn)}
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 20% de opacidade */
    z-index: 9999; /* Certifique-se de que o overlay fique acima de todos os outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
