<div class="overlay" *ngIf="loading">
  <div class="custom-loader"></div>
</div>

<app-header-bar></app-header-bar>

<div class="password-recovery-container">
  <mat-card>
    <mat-card-title>Recuperar Senha</mat-card-title>
    <mat-card-content>
      <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email ou Usuário</mat-label>
          <input matInput formControlName="identifier" required>
          <mat-error *ngIf="passwordRecoveryForm.get('identifier')?.hasError('required')">
            Email ou usuário é obrigatório
          </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="passwordRecoveryForm.invalid || disableButton">
            {{ disableButton ? 'Solicitar novamente em ' + timer + 's' : 'Solicitar Reset de Senha' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
