<div class="overlay" *ngIf="loading">
  <div class="custom-loader"></div>
</div>

<app-header-bar></app-header-bar>

<div class="box" id="myAccount" [class]="darkMode ? 'dark-mode' : ''">

  <div class="profile-section">
    <img [src]="userProfilePicture || 'https://tds-images.thedailystar.net/sites/default/files/styles/amp_metadata_content_image_min_696px_wide/public/images/2022/10/14/ai_art_generator.png'" alt="Foto do Perfil" class="profile-picture">
    <button mat-raised-button color="primary" (click)="uploadProfilePicture()">Alterar Foto</button>
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
  </div>

  <div>
    <mat-accordion class="expansion-menu">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Minha Conta </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Configurações </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="submenu-content">
            <mat-form-field>
              <mat-label>Tema</mat-label>
              <mat-select>
                <mat-option value="light-mode" #matOptionLight (click)="toggleDarkMode(matOptionLight.value)">Light Mode</mat-option>
                <mat-option value="dark-mode" #matOptionDark (click)="toggleDarkMode(matOptionDark.value)">Dark Mode</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Mudar Senha </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="submenu-content">
            <mat-form-field>
              <input matInput placeholder="Senha Atual" type="password" [(ngModel)]="currentPassword"/>
            </mat-form-field>
            <label>Pelo menos 8 caracteres - Pelo menos 1 letra maiúscula - Pelo menos 1 letra minúscula - Pelo menos 1 número - Pelo menos 1 símbolo.</label>
            <mat-form-field>
              <input matInput placeholder="Nova Senha" type="password" [(ngModel)]="newPassword"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Repetir Nova Senha" type="password" [(ngModel)]="newPasswordConfirmation"/>
            </mat-form-field>
            <button color="primary" (click)="changeAccountPassword()">Confirmar</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Excluir Conta </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="submenu-content">
            <mat-form-field>
              <input matInput placeholder="Usuário" type="text" [(ngModel)]="username"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" [(ngModel)]="password"/>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="confirmation">Confirmar a transação</mat-checkbox>
            <button style="float: right;" (click)="deleteAccountAndData()">Confirmar</button>
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
